Repository cfug/dio, pull requests merged in 2023-10, with the labels that each got.

#1974 Make use of new dart api for compute
  .github/workflows/tests.yml
  dio/CHANGELOG.md
  dio/lib/src/compute/compute.dart
  dio/lib/src/compute/compute_io.dart
  dio/lib/src/compute/compute_web.dart
  dio/lib/src/dio/dio_for_browser.dart
  dio/lib/src/dio/dio_for_native.dart
  dio/lib/src/transformers/background_transformer.dart
  dio/pubspec.yaml
  dio/test/dio_mixin_test.dart
  plugins/cookie_manager/pubspec.yaml
  plugins/http2_adapter/pubspec.yaml
Labels: s: feature, p: dio

#1987 📝 Fix READMEs
  README-ZH.md
  README.md
  dio/README-ZH.md
  dio/README.md
  plugins/cookie_manager/README.md
  plugins/http2_adapter/README.md
  plugins/native_dio_adapter/README.md
Labels: e: documentation

#1986 🔥 Remove `melos_` prefix for IDEA modules
  .idea/dio.iml
  .idea/modules.xml
  dio/dio.iml
  dio_workspace.iml
  example/dio_example.iml
  example_flutter_app/.gitignore
  example_flutter_app/dio_flutter_example.iml
  melos.yaml
  melos_dio_workspace.iml
  plugins/cookie_manager/dio_cookie_manager.iml
  plugins/http2_adapter/dio_http2_adapter.iml
  plugins/native_dio_adapter/native_dio_adapter.iml
Labels: infra

#1998 Improve exception message for DioException.badResponse
  dio/CHANGELOG.md
  dio/lib/src/dio_exception.dart
Labels: p: dio

#2000 Improve exception messages
  dio/lib/src/dio_exception.dart
Labels: p: dio

#2006 Fix lint issues
  .github/workflows/tests.yml
  dio/lib/src/compute/compute.dart
  dio/lib/src/compute/compute_io.dart
  dio/lib/src/compute/compute_web.dart
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/example/pubspec.yaml
  plugins/native_dio_adapter/pubspec.yaml
Labels: p: dio
