Repository cfug/dio, pull requests merged in 2023-12, with the labels that each got.

#2048 📝 Add topic suggestion
  README-ZH.md
  README.md
  dio/README-ZH.md
  dio/README.md
Labels: e: documentation, e: good for newcomers, p: ecosystem

#2050 🐛 Fix `receiveTimeout` for streamed responses
  dio/CHANGELOG.md
  dio/lib/src/adapters/io_adapter.dart
  dio/test/options_test.dart
  dio/test/timeout_test.dart
  plugins/http2_adapter/lib/src/http2_adapter.dart
  plugins/http2_adapter/test/timeout_test.dart
Labels: p: dio, s: bug, platform: io

#2055 Skip tests requiring specific setup by default
  dio/.gitignore
  dio/dart_test.yaml
  dio/test/download_test.dart
  dio/test/exception_test.dart
  dio/test/pinning_test.dart
  plugins/cookie_manager/dart_test.yaml
  plugins/cookie_manager/test/basic_test.dart
  plugins/http2_adapter/dart_test.yaml
  plugins/http2_adapter/test/http2_test.dart
  plugins/http2_adapter/test/pinning_test.dart
  scripts/dart_test.sh
Labels: e: tests

#2066 ⚡️ Mark `DioMixin`'s todo and add tests
  dio/lib/src/dio_mixin.dart
  dio/test/dio_mixin_test.dart
Labels: p: dio, e: tests

#2073 Fix melos picking up example folders in random ignored folders
  dio_workspace.iml
  melos.yaml
Labels: infra

#2068 Fix streamed response cancellation and progress
  dio/CHANGELOG.md
  dio/lib/src/adapter.dart
  dio/lib/src/adapters/io_adapter.dart
  dio/lib/src/dio/dio_for_native.dart
  dio/lib/src/dio_mixin.dart
  dio/lib/src/response/response_stream_handler.dart
  dio/lib/src/transformers/sync_transformer.dart
  dio/test/cancel_token_test.dart
  dio/test/download_test.dart
  dio/test/request_integration_test.dart
  dio/test/response/response_stream_test.dart
  dio/test/utils.dart
  example/lib/extend_dio.dart
  example/pubspec.yaml
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/http2_adapter.dart
  plugins/http2_adapter/pubspec.yaml
  plugins/http2_adapter/test/request_test.dart
  plugins/http2_adapter/test/utils.dart
Labels: s: feature, p: dio, p: http2_adapter, s: bug, platform: io

#1755 [dio] Test typed responses
  dio/CHANGELOG.md
  dio/doc/migration_guide.md
  dio/lib/src/dio/dio_for_native.dart
  dio/lib/src/dio_mixin.dart
  dio/lib/src/response.dart
  dio/test/options_test.dart
  dio/test/request_integration_test.dart
  dio/test/timeout_test.dart
  dio/test/utils.dart
  example/lib/generic.dart
  example_flutter_app/lib/main.dart
  example_flutter_app/lib/routes/request.dart
  plugins/cookie_manager/test/cookies_test.dart
  plugins/native_dio_adapter/example/lib/main.dart
Labels: s: feature, p: dio
