Repository cfug/dio, pull requests merged in 2023-11, with the labels that each got.

#2016 Changes made in both Readme files
  dio/README-ZH.md
  dio/README.md
Labels: e: documentation

#2021 ⚡️ Improve melos and workflow setup
  .github/workflows/publishable.yml
  .github/workflows/tests.yml
  .gitignore
  analysis_options.yaml
  example/pubspec.yaml
  example/test/example_test.dart
  example_flutter_app/pubspec.yaml
  example_flutter_app/test/widget_test.dart
  melos.yaml
  plugins/cookie_manager/test/basic_test.dart
  plugins/cookie_manager/test/cookies_persistance_test.dart
  plugins/cookie_manager/test/cookies_test.dart
  plugins/http2_adapter/test/http2_test.dart
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/pubspec.yaml
  pubspec.yaml
  scripts/files_patch.dart
  scripts/melos_ignored_packages.dart
Labels: infra

#2030 👷 Divide Dart packages tests by platforms
  .github/workflows/tests.yml
  scripts/dart_test.sh
Labels: infra

#2029 ⚡ Ignore zero duration timeout
  dio/CHANGELOG.md
  dio/lib/src/adapters/browser_adapter.dart
  dio/lib/src/adapters/io_adapter.dart
  dio/lib/src/options.dart
  dio/test/timeout_test.dart
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/connection_manager_imp.dart
  plugins/http2_adapter/lib/src/http2_adapter.dart
Labels: p: dio

#2038 💚 Run `update` before `install` for `apt-get`
  .github/workflows/tests.yml
Labels: infra

#2041 🔧 Handle all examples with melos
  example_flutter_app/android/build.gradle
  melos.yaml
  plugins/native_dio_adapter/example/android/build.gradle
  plugins/native_dio_adapter/example/linux/flutter/generated_plugins.cmake
  plugins/native_dio_adapter/example/windows/flutter/generated_plugins.cmake
  plugins/native_dio_adapter/native_dio_adapter.iml
Labels: infra

#2040 [native_dio_adapter] ✨ Adds `createCronetEngine` and `createCupertinoConfiguration`
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/README.md
  plugins/native_dio_adapter/example/lib/main.dart
  plugins/native_dio_adapter/lib/src/native_adapter.dart
Labels: p: native_dio_adapter, s: bug

#2008 Case-sensitive headers
  dio/CHANGELOG.md
  dio/README-ZH.md
  dio/README.md
  dio/lib/src/adapters/io_adapter.dart
  dio/lib/src/dio_mixin.dart
  dio/lib/src/headers.dart
  dio/lib/src/options.dart
  dio/lib/src/response.dart
  dio/test/basic_test.dart
  dio/test/headers_test.dart
  dio/test/options_test.dart
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/lib/src/conversion_layer_adapter.dart
Labels: s: feature, p: dio

#2044 [http2_adapter] ✨ Support non-TLS connection requests
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/connection_manager_imp.dart
  plugins/http2_adapter/test/http2_test.dart
Labels: p: http2_adapter, s: bug

#2036 🐛 Fix `receiveTimeout`
  .gitignore
  dio/.gitignore
  dio/CHANGELOG.md
  dio/README-ZH.md
  dio/README.md
  dio/lib/src/adapters/browser_adapter.dart
  dio/lib/src/adapters/io_adapter.dart
  dio/lib/src/dio/dio_for_native.dart
  dio/lib/src/dio_exception.dart
  dio/lib/src/options.dart
  dio/test/download_test.dart
  dio/test/timeout_test.dart
  dio/test/utils.dart
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/http2_adapter.dart
  plugins/http2_adapter/test/http2_test.dart
  plugins/http2_adapter/test/timeout_test.dart
Labels: p: dio, s: bug, platform: io

#2045 ⚡️ Check `Uint8List` before doing byte conversions
  dio/CHANGELOG.md
  dio/lib/src/adapter.dart
  dio/lib/src/adapters/browser_adapter.dart
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/lib/src/conversion_layer_adapter.dart
Labels: p: dio, p: native_dio_adapter, e: performance
