Repository cfug/dio, pull requests merged in 2023-06, with the labels that each got.

#1839 Merge main into 6.0.0
  dio/CHANGELOG.md
  dio/lib/src/adapters/io_adapter.dart
  dio/lib/src/transformer.dart
  dio/pubspec.yaml
  dio/test/cancel_token_test.dart
  dio/test/mock/flutter.png
  dio/test/mock/http_mock.dart
  dio/test/mock/http_mock.mocks.dart
  dio/test/upload_stream_test.dart
  plugins/http2_adapter/test/http2_test.dart
  plugins/http2_adapter/test/pinning_test.dart
  scripts/prepare_pinning_certs.sh
Labels: infra

#1827 Bump min Dart version to 2.17.0
  .github/workflows/tests.yml
  dio/CHANGELOG.md
  dio/pubspec.yaml
  example/pubspec.yaml
  plugins/cookie_manager/pubspec.yaml
  plugins/http2_adapter/pubspec.yaml
Labels: p: dio, p: ecosystem

#1846 Fix min Dart SDK in 6.0.0 changelog
  dio/CHANGELOG.md
  dio/migration_guide.md
Labels: e: documentation, p: dio

#1847 Fix mocks not compatible with Dart 2.15 causing test failures
  dio/pubspec.yaml
  dio/test/cancel_token_test.dart
  dio/test/mock/http_mock.dart
  dio/test/mock/http_mock.mocks.dart
Labels: infra

#1841 [native_dio_adapter] Fix `onReceiveProgress` callback.
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/lib/src/conversion_layer_adapter.dart
  plugins/native_dio_adapter/test/conversion_layer_adapter_test.dart
Labels: p: native_dio_adapter

#1826 Remove custom idleTimeout in IOHttpClientAdapter
  dio/CHANGELOG.md
  dio/lib/src/adapters/io_adapter.dart
Labels: p: dio

#1849 Update native dio adapter
  .github/workflows/tests.yml
  plugins/native_dio_adapter/CHANGELOG.md
  plugins/native_dio_adapter/README.md
  plugins/native_dio_adapter/pubspec.yaml
Labels: p: native_dio_adapter

#1851 Use v2 release action
  .github/workflows/publish.yml
Labels: infra

#1838 Improve performance of byte data on IO platform
  dio/CHANGELOG.md
  dio/lib/src/dio_mixin.dart
  dio/test/mock/http_mock.dart
  dio/test/mock/http_mock.mocks.dart
  dio/test/upload_test.dart
Labels: p: dio, e: performance

#1836 Added handling for xhr.onTimeout
  dio/CHANGELOG.md
  dio/lib/src/adapters/browser_adapter.dart
  dio/pubspec.yaml
  dio/test/readtimeout_test.dart
  dio/test/timeout_test.dart
Labels: s: feature, p: dio

#1853 Fix createHttpClient example in README
  dio/README.md
Labels: e: documentation, p: dio

#1860 Revert changes to List<int> body data handling
  dio/CHANGELOG.md
  dio/lib/src/dio_mixin.dart
  dio/test/upload_test.dart
Labels: p: dio, b: regression

#1862 Fix changelog for 5.2.1
  dio/CHANGELOG.md
Labels: infra

#1875 Test improvements
  dio/test/stacktrace_test.dart
  dio/test/upload_test.dart
Labels: p: dio
