Repository cfug/dio, pull requests merged in 2024-03, with the labels that each got.

#2077 Add a dio_test project and move request integration test
  .github/workflows/tests.yml
  .gitignore
  .idea/modules.xml
  dio/pubspec.yaml
  dio/test/basic_test.dart
  dio/test/cancel_token_test.dart
  dio/test/download_test.dart
  dio/test/response/response_stream_test.dart
  dio/test/test_suite_test.dart
  dio/test/timeout_test.dart
  dio/test/utils.dart
  dio_test/dart_test.yaml
  dio_test/dio_test.iml
  dio_test/lib/src/matcher.dart
  dio_test/lib/src/test/cors_tests.dart
  dio_test/lib/src/test/download_stream_tests.dart
  dio_test/lib/src/test/headers_tests.dart
  dio_test/lib/src/test/http_method_tests.dart
  dio_test/lib/src/test/parameter_tests.dart
  dio_test/lib/src/test/redirect_tests.dart
  dio_test/lib/src/test/status_code_tests.dart
  dio_test/lib/src/test/suite.dart
  dio_test/lib/src/test/timeout_tests.dart
  dio_test/lib/src/utils.dart
  dio_test/lib/tests.dart
  dio_test/lib/util.dart
  dio_test/pubspec.yaml
  melos.yaml
  plugins/http2_adapter/pubspec.yaml
  plugins/http2_adapter/test/test_suite_test.dart
  plugins/http2_adapter/test/timeout_test.dart
  plugins/http2_adapter/test/utils.dart
Labels: p: dio, p: http2_adapter, s: bug, e: tests

#2136 Converge melos usage and CI scripts & add code coverage
  .github/workflows/coverage_base.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING-ZH.md
  CONTRIBUTING.md
  dio/.gitignore
  dio/dart_test.yaml
  melos.yaml
  plugins/compatibility_layer/.gitignore
  plugins/compatibility_layer/dart_test.yaml
  plugins/cookie_manager/.gitignore
  plugins/cookie_manager/dart_test.yaml
  plugins/http2_adapter/.gitignore
  plugins/http2_adapter/dart_test.yaml
  plugins/native_dio_adapter/.gitignore
  scripts/dart_test.sh
  scripts/files_patch.dart
  scripts/melos_packages.dart
Labels: infra

#2151 Run test workflow on pull_request_target event
  .github/workflows/tests.yml
Labels: infra

#2149 Local httpbun for VM tests
  .github/workflows/tests.yml
  dio/test/download_test.dart
  dio/test/test_suite_test.dart
  dio/test/timeout_test.dart
  dio/test/upload_test.dart
  dio_test/dart_test.yaml
  dio_test/lib/src/httpbun.dart
  dio_test/lib/src/test/cors_tests.dart
  dio_test/lib/src/test/download_stream_tests.dart
  dio_test/lib/src/test/headers_tests.dart
  dio_test/lib/src/test/http_method_tests.dart
  dio_test/lib/src/test/parameter_tests.dart
  dio_test/lib/src/test/redirect_tests.dart
  dio_test/lib/src/test/status_code_tests.dart
  dio_test/lib/src/test/suite.dart
  dio_test/lib/src/test/timeout_tests.dart
  dio_test/lib/util.dart
  melos.yaml
  plugins/http2_adapter/test/http2_test.dart
  plugins/http2_adapter/test/test_suite_test.dart
  scripts/prepare_pinning_certs.sh
Labels: e: tests

#2150 Add test coverage PR comment action
  .github/workflows/tests.yml
Labels: infra, e: tests

#2152 Test improvements
  dio/dart_test.yaml
  dio/test/basic_test.dart
  dio/test/download_test.dart
  dio/test/exception_test.dart
  dio_test/lib/src/test/basic_tests.dart
  dio_test/lib/src/test/cors_tests.dart
  dio_test/lib/src/test/download_stream_tests.dart
  dio_test/lib/src/test/headers_tests.dart
  dio_test/lib/src/test/http_method_tests.dart
  dio_test/lib/src/test/redirect_tests.dart
  dio_test/lib/src/test/status_code_tests.dart
  dio_test/lib/src/test/suite.dart
  dio_test/lib/src/test/timeout_tests.dart
  dio_test/lib/tests.dart
  plugins/compatibility_layer/dart_test.yaml
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/http2_adapter.dart
  plugins/http2_adapter/test/http2_test.dart
Labels: e: tests

#2169 Revert "Catch sync/async exceptions in interceptors' handlers"
  dio/CHANGELOG.md
  dio/lib/src/dio_mixin.dart
  dio/lib/src/interceptor.dart
Labels: p: dio, s: bug, b: regression, 🚒 URGENT
