Repository cfug/dio, pull requests merged in 2024-02, with the labels that each got.

#2104 Escape from uncaught exceptions for IDEs
  dio/CHANGELOG.md
  dio/lib/src/dio_mixin.dart
Labels: e: good for newcomers, p: dio, s: bug

#2076 ⚡️ Fallback to another adapter for H2
  dio/lib/src/adapter.dart
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/connection_manager.dart
  plugins/http2_adapter/lib/src/connection_manager_imp.dart
  plugins/http2_adapter/lib/src/http2_adapter.dart
  plugins/http2_adapter/test/http2_test.dart
Labels: s: feature, p: http2_adapter, platform: io

#2101 [http2] Fix Http2Adapter not redirecting for relative URLs
  .github/workflows/tests.yml
  plugins/http2_adapter/lib/src/http2_adapter.dart
  plugins/http2_adapter/pubspec.yaml
  plugins/http2_adapter/test/http2_test.dart
  plugins/http2_adapter/test/pinning_test.dart
  plugins/http2_adapter/test/redirect_test.dart
  plugins/http2_adapter/test/request_test.dart
  plugins/http2_adapter/test/timeout_test.dart
Labels: p: http2_adapter, s: bug
