Repository cfug/dio, pull requests merged in 2024-01, with the labels that each got.

#1976 Hello Conversion Layer Adapter
  .github/ISSUE_TEMPLATE/bug.yml
  .idea/modules.xml
  README-ZH.md
  README.md
  dio_workspace.iml
  plugins/compatibility_layer/.gitignore
  plugins/compatibility_layer/CHANGELOG.md
  plugins/compatibility_layer/LICENSE
  plugins/compatibility_layer/README.md
  plugins/compatibility_layer/analysis_options.yaml
  plugins/compatibility_layer/dart_test.yaml
  plugins/compatibility_layer/dio_compatibility_layer.iml
  plugins/compatibility_layer/example/conversion_layer_example.dart
  plugins/compatibility_layer/lib/dio_compatibility_layer.dart
  plugins/compatibility_layer/lib/src/conversion_layer_adapter.dart
  plugins/compatibility_layer/pubspec.yaml
  plugins/compatibility_layer/test/client_mock.dart
  plugins/compatibility_layer/test/conversion_layer_adapter_test.dart
Labels: s: feature, p: compatibility_layer

#2094 ⚡️ Support relative `baseUrl` on the Web platform
  dio/CHANGELOG.md
  dio/lib/src/options.dart
  dio/lib/src/utils.dart
  dio/test/options_test.dart
Labels: s: feature, p: dio, platform: web

#2054 [http2_adapter] 🐛 Support HTTP/1.x for proxy responses
  plugins/http2_adapter/CHANGELOG.md
  plugins/http2_adapter/lib/src/connection_manager.dart
  plugins/http2_adapter/lib/src/connection_manager_imp.dart
  plugins/http2_adapter/test/http2_test.dart
Labels: p: http2_adapter
